<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="admin_sidebar">
    <div class="flex-shrink-0 p-3 bg-white" id="sidebar" style="width: 280px;">
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <svg class="bi me-2" width="30" height="24">
                <use xlink:href="#"></use>
            </svg>
            <span class="fs-5 fw-semibold">페이지 관리</span>
        </a>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">

                <div class="collapse show" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="/admin/recent_register" class="link-dark rounded">최근 등록 상품</a></li>
                        <li><a href="/admin/product/add" class="link-dark rounded">상품등록</a></li>
                        <li><a href="/admin/sales_status" class="link-dark rounded">판매 현황</a></li>
                        <li><a href="/admin/enquiryList" class="link-dark rounded">문의사항</a></li>
                    </ul>
                </div>
            </li>
            <li class="border-top my-3"></li>

        </ul>
    </div>

</div>



</body>
</html>