<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kms.project.repository.mapper.AdminMapper">
    <select id="adminLogin" parameterType="String" resultType="AdminVO">
        select * from project.admin where admin_id=#{admin_id}
    </select>

</mapper>