<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kms.project.repository.mapper.BasketMapper">
    <insert id="insert_basket" parameterType="BasketVO">
        insert into project.basket(user_code,detail_code,basket_quantity)
        values(#{basket.user_code},#{basket.detail_code},#{basket.basket_quantity})
    </insert>

    <delete id="delete_basket">
        delete from project.basket where basket_code in
                                         <foreach collection="array" item="arr" open="(" close=")" separator=",">
                                             #{arr}
                                         </foreach>

    </delete>

    <delete id="delete_basket2" parameterType="map">
        delete from project.basket where user_code=#{user_code} and detail_code in
                                         <foreach collection="code_array" item="arr" open="(" close=")" separator=",">
                                             #{arr}
                                         </foreach>
    </delete>

    
    <select id="select_choiceBasket_view" resultType="BasketViewVO">
        select * from project.basket_view where
                                                basket_code in
                                                <foreach collection="array" open="(" close=")" separator="," item="arr">
                                                    #{arr}
                                                </foreach>
    </select>

    <select id="select_choiceBasket_view2" parameterType="map" resultType="BasketViewVO">
        select * from project.basket_view where user_code=#{user_code} and
        detail_code in
        <foreach collection="code_array" open="(" close=")" separator="," item="arr">
            #{arr}
        </foreach>
    </select>
</mapper>