<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kms.project.repository.mapper.ProductMapper">
    <insert id="productInsert" parameterType="ProductVO" useGeneratedKeys="true" keyColumn="product_code"
            keyProperty="product_code">
        insert into project.product(division_mType, product_name, product_price, product_img1, product_img2,
                                    product_img3, product_detail, product_date, product_count)
        values (#{product.division_mType}, #{product.product_name}, #{product.product_price}, #{product.product_img1},
                #{product.product_img2},
                #{product.product_img3}, #{product.product_detail}, current_date, 0)
    </insert>

    <select id="recent_register" resultType="ProductVO">
        select *
        from project.product
        order by product_code desc limit 10;
    </select>

    <update id="update_product" parameterType="ProductVO">
        UPDATE project.product
        set division_mType=#{product.division_mType},
            product_name=#{product.product_name},
            product_price=#{product.product_price},
            product_img1=#{product.product_img1},
            product_img2=#{product.product_img2},
            product_img3=#{product.product_img3},
            product_detail=#{product.product_detail},
            product_date=current_date
        where product_code = #{product.product_code}

    </update>

    <select id="select_search" parameterType="java.util.Map" resultType="ProductVO">
        select * from project.product
        <where>
            <if test="division_mType!=null">
                division_mType =#{division_mType}
            </if>

            <if test="division_lType !=null">
                division_mType in(select division_mType from project.division where division_lType=#{division_lType})
            </if>

            <if test="search!=null">
                division_mType in(select division_mType from project.division where division_lType like CONCAT('%',#{search},'%'))
                or division_mType like CONCAT('%',#{search},'%') or product_name like CONCAT('%',#{search},'%')
            </if>

        </where>
    </select>

    <update id="update_count" parameterType="map">
        update project.product set product_count = product_count+#{product_count} where product_code=#{product_code}
    </update>

 <!--   <update id="update_count">
        <foreach collection="list" item="map" separator=";">
            update project.product set product_count=product_count+#{map.product_count} product_code=#{map.product_code}

        </foreach>
    </update>
-->

</mapper>